
<div class="col-xs-12 col-sm-12 col-md-10">
<h1>LIST OF ALL BOOKS</h1>
<table class="table table-condensed table-hover table-border">
	<thead>
		<tr>
			<th class="item-border">Id</th>
			<th class="item-border">Name</th>
			<th class="item-border ">Description</th>
			<th class="item-border">Author</th>
			<th class="item-border">Image</th>
			<th class="item-border custom-task">Task</th>
		</tr>
	</thead>
	<tbody>
		<% @books.each do |books| %>
		<tr>
			<td class="item-border"><%= books['id'] %></td>
			<td class="item-border"><%= books['name'] %></td>
			<td class="item-border fit-textdescription "><%= books['description'] %></td>
			<td class="item-border fit-author"><%= books['author'] %></td>
			<td class="item-border fit-image"><img class="image-size" src="<%= books['image'] %>" /></td>
			<td>
				 <button onclick="location.href='/books/edit/<%= books['id']%>'" class="btn btn-sm btn-primary"> Edit </button>
				 <form action="/books/<%= books['id'] %>" method= "POST" style="display: inline;">
						<input type="hidden" name="_method" value="delete">
				 		<button type="submit" class="btn btn-sm btn-danger"> Delete </button>
				 </form> 
			</td>
		</tr>	
			<% end %>
	</tbody>
</table>
</div>
